.cyberpunk section.window-content {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  overflow-y: scroll;
}

/* Overall sheet structure */
.sheet header.cyberheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
}
.sheet header.cyberheader > div {
  margin-bottom: 5px;
}

.cyberpunk h2 {
  font-family: "Noto Sans", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

.cyberpunk .fieldrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.cyberpunk .fieldrow > * {
  flex-grow: 1;
  margin-right: 5px;
}

.cyberpunk h1.title {
  font-size: 1.75em;
  font-weight: bold;
  font-variant: petite-caps;
  border: solid 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  min-width: 6em;
  flex-grow: 2;
}
.cyberpunk h1.title > input {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  color: black;
  font-family: "Open Sans ExtraBold", sans-serif;
  font-weight: bold;
}

.cyberpunk .flexwrap {
  flex-wrap: wrap !important;
}

.cyberpunk .fillwidth {
  width: 100% !important;
}

.cyberpunk .nogrow {
  flex-grow: 0 !important;
}

.profile-img {
  max-height: 170px;
  max-width: 20%;
  flex-shrink: 2;
  width: 20%;
  margin-right: 4px;
}

.sheet-body .tab {
  height: 100%;
}

.editor {
  height: 100%;
}

.flex-pad {
  flex-grow: 1;
  flex-shrink: 1;
}

.field-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -3px;
  flex-grow: 0;
}
.field-list + .spacer {
  flex-grow: 1;
}
.field-list .field {
  flex-grow: 1;
  width: 40%;
  min-width: 185px;
  margin-right: 5px;
  margin-bottom: 3px;
}

.roll-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 32px;
  width: 32px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    margin-left: -10px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
/**
* Best used like so, in its basic form:
* <div class="field"><label></label><input></div>
* 
* Can include a div with a background using .field-image, and the size of the input adjusted with the classes .number, .smallnumber, or .textsize
* This specifically does not adjust margins - that's up to containers.
* Adjusting field size is best done by changing the font size and/or the childrens' padding
*/
.cyberpunk .field {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.cyberpunk .field > * {
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-variant: small-caps;
  padding: 2px 3px 2px 0px;
}
.cyberpunk .field .field-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 32px;
  width: 32px;
  padding: 0px 3px 0px 0px;
}
.cyberpunk .field:hover > .field-image.roll {
  background-image: url("../../../icons/svg/d10-grey.svg") !important;
}
.cyberpunk .field > label, .cyberpunk .field summary {
  color: whitesmoke;
  padding-left: calc(5px - 2px);
  padding-right: 5px;
}
.cyberpunk .field > input {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  color: black;
  font-family: "Open Sans ExtraBold", sans-serif;
  padding-left: 5px;
  padding-right: 0px;
  flex-grow: 1;
  flex-shrink: 1;
}
.cyberpunk .field > input.number {
  width: 2.5em;
  text-align: center;
}
.cyberpunk .field > input.smallnumber {
  width: 1.5em;
  text-align: center;
  padding-left: 0px;
}
.cyberpunk .field > input.textsize {
  width: 6em;
  min-width: 2em;
}
.cyberpunk .field p {
  margin: 0px 3px 0px 3px;
}

.inactive {
  filter: opacity(0.45);
}

.action {
  cursor: pointer;
}

.not-editable {
  cursor: not-allowed;
}

.invisible {
  display: none;
}

.statsrow {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.statsrow > div.stat {
  display: flex;
  flex-direction: column;
  width: 2em;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: bold;
  border: 0 none;
}
.statsrow > div.stat + .stat {
  margin-left: 3px;
}
.statsrow > div.stat div, .statsrow > div.stat input {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  text-align: center;
}
.statsrow > div.stat label {
  padding: 5px 0px 5px 0px;
  text-align: center;
}
.statsrow > div.stat .stat-total {
  border-color: black;
  border-style: none solid solid solid;
  border-width: 2px;
  font-size: 13pt;
  font-weight: bold;
}
.statsrow > div.stat .stat-base {
  font-size: 9pt;
  color: whitesmoke;
  background: black;
  border-color: black;
  border-style: none solid none solid;
  border-width: 2px;
}
.statsrow > div.stat .stat-mod {
  font-size: 9pt;
  background: #464646;
  color: whitesmoke;
  padding: 0px 1px 0px 1px;
}
.statsrow > div.stat .stat-temp {
  font-size: 9pt;
  background: #464646;
  color: whitesmoke;
  border-right-style: solid;
  border-right-color: black;
  border-width: 2px;
}

.stats > .derivedrow {
  margin-top: -3px;
  margin-bottom: 8px;
  display: flex;
  font-size: smaller;
}
.stats > .derivedrow > .field * {
  font-size: small;
  padding-top: 0px;
  padding-bottom: 0px;
}
.stats > .derivedrow > .field input {
  width: 3em;
  flex-grow: 2;
}
.stats > .derivedrow > .field.ma {
  align-self: flex-end;
}
.stats > .derivedrow > .field + .statderive.liftstat {
  margin-right: 3px;
}

div.statderive {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  font-size: smaller;
}
div.statderive > input {
  padding-left: 3px;
  padding-right: 3px;
}
div.statderive .value.rightborder {
  border-right-width: 2px;
}

.wound-tracker {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  margin-right: -3px;
}
.wound-tracker .wound-state {
  display: flex;
  flex-grow: 1;
  height: fit-content;
  flex-direction: column;
  margin-right: 3px;
  margin-top: 5px;
  border: solid black;
  border-width: 0px 2px 2px 2px;
}
.wound-tracker .wound-state-label {
  background-color: black;
  color: whitesmoke;
  font-size: smaller;
  font-variant: small-caps;
  padding: 2px;
  padding-left: 2px;
}
.wound-tracker .damageholder {
  display: flex;
  flex-grow: 1;
  height: 0.4em;
}
.wound-tracker .damage {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  position: unset;
  top: unset;
  margin: unset;
  height: 100%;
  width: 1.3em;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: black;
  transition: background-color 0.25s;
}
.wound-tracker .damage:checked {
  filter: none;
}
.wound-tracker .damage:hover {
  background-color: rgba(178, 34, 34, 0.5);
}
.wound-tracker .damage + .damage {
  border-left-width: 0px;
}
.wound-tracker .damage.leftmost {
  border-left-width: 0px;
}
.wound-tracker .damage.rightmost {
  border-right-width: 0px;
}
.wound-tracker .filled {
  background-color: firebrick;
}
.wound-tracker .unfilled {
  background-color: transparent;
}

.skill-utils {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-bottom: 3px;
  flex-grow: 0;
  display: flex;
}
.skill-utils .skill-search {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  font-weight: bold;
  flex-grow: 1;
  padding-left: 5px;
}
.skill-utils div.search-icon {
  border: 0px;
  border-radius: 0px;
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
  padding: 2px 5px;
  background-color: black;
  background-image: url(../img/search.png);
}

.field.skill {
  width: 40%;
}
.field.skill > * {
  padding-top: 3px;
  padding-bottom: 3px;
}
.field.skill .chip-toggle {
  padding: 0px;
  display: contents;
}
.field.skill .chip-toggle label {
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3px;
}
.field.skill .chip-toggle input[type=checkbox] {
  display: none;
}
.field.skill .chip-toggle .chip-icon {
  border: 0px;
  border-radius: 0px;
  background-size: cover;
  height: 1.5em;
  width: 1.5em;
  background-image: url(../img/chip.png);
}

.cyberpunk textarea.flavor {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  align-self: stretch;
  border: 2px solid black;
  border-radius: 0px;
  min-height: 5em;
}

.item-img {
  max-height: 150px;
  max-width: 20%;
  flex-shrink: 2;
  flex-grow: 0;
  width: 20%;
  margin-left: 4px;
}

.infoline {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.summary {
  flex-grow: 0;
  font-variant: small-caps;
  font-size: 15px;
  white-space: nowrap;
  margin-right: 5px;
}

.gear label {
  min-width: 128px;
  padding-right: 10px;
}

.cyberpunk-card h2 {
  font-family: "Noto Sans", sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin: 0px;
}
.cyberpunk-card .roll-image {
  margin-right: 5px;
}
.cyberpunk-card .part-total.crit {
  background-color: #77b968b8;
}
.cyberpunk-card .part-total.fumble {
  background-color: #d1502fb8;
}

.combat-tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 10fr;
  grid-template-areas: "rolls rolls" "weapons armor";
  column-gap: 10px;
  row-gap: 10px;
  align-items: start;
}
.combat-tab .armor-section {
  grid-area: armor;
}
.combat-tab .armor-section .armors-mockup .field label {
  min-width: 3em;
}
.combat-tab .armor-section .armor-display {
  max-height: 200px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: ". Head ." "lArm Torso rArm" "lLeg . rLeg";
  column-gap: 3px;
  row-gap: 3px;
  justify-items: center;
}
.combat-tab .armor-section .armor-display .armor-segment {
  width: 100%;
  border: 2px solid black;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: auto;
  grid-template-areas: "loc" "sp" "name";
  border-top-width: 0px;
}
.combat-tab .armor-section .armor-display .armor-segment .segment-sp {
  grid-area: sp;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  color: black;
}
.combat-tab .armor-section .armor-display .armor-segment .segment-name {
  grid-area: name;
  text-align: center;
  padding: 0px;
}
.combat-tab .armor-section .armor-display .armor-segment .segment-loc {
  grid-area: loc;
  text-align: center;
  padding: 0px;
}
.combat-tab .combat-rolls {
  grid-area: rolls;
  display: flex;
  flex-flow: column nowrap;
}
.combat-tab .combat-rolls .field + .field {
  margin-left: 5px;
}
.combat-tab .weapons-list {
  grid-area: weapons;
  display: flex;
  flex-flow: column nowrap;
}
.combat-tab .weapons-list > .field {
  margin-bottom: 3px;
}

/*# sourceMappingURL=cyberpunk.css.map */
