.cyberpunk section.window-content {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  overflow-y: scroll;
}

/* Overall sheet structure */
.sheet header.cyberheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
}
.sheet header.cyberheader > div {
  margin-bottom: 5px;
}

.cyberpunk .fieldrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.cyberpunk .fieldrow > * {
  flex-grow: 1;
}

.cyberpunk h1.title {
  font-size: 1.75em;
  font-weight: bold;
  font-variant: petite-caps;
  border: solid 0px;
  margin-bottom: 0px;
  padding-right: 5px;
  width: 6em;
  flex-grow: 2;
}
.cyberpunk h1.title > input {
  padding-left: 0px;
}

.cyberpunk .field {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}
.cyberpunk .field + .field {
  margin-left: 5px;
}

.cyberpunk .field-label {
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-variant: small-caps;
  padding: 2px 5px 2px 5px;
  padding-left: calc(5px - 2px);
}

.cyberpunk .field-value {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  font-family: "Open Sans ExtraBold", sans-serif;
  font-weight: bold;
  height: auto;
  padding-left: 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.cyberpunk .field-value-no-reset {
  font-family: "Open Sans ExtraBold", sans-serif;
  font-weight: bold;
  height: auto;
  padding-left: 5px;
  flex-grow: 1;
  flex-shrink: 1;
}

.cyberpunk .numsize {
  width: 2.5em;
  padding: 2px 0px 2px 0px;
  text-align: center;
}

.cyberpunk .smallnumsize {
  width: 1.5em;
  padding: 2px 0px 2px 0px;
  text-align: center;
}

.cyberpunk .textsize {
  width: 6em;
  min-width: 2em;
}

.nowrap {
  flex-wrap: nowrap;
}

.cyberpunk .fillwidth {
  width: 100% !important;
}

.cyberpunk .nogrow {
  flex-grow: 0 !important;
}

.profile-img {
  max-height: 170px;
  max-width: 20%;
  flex-shrink: 2;
  width: 20%;
  margin-right: 4px;
}

.sheet-body .tab {
  height: 100%;
}

.editor {
  height: 100%;
}

.flex-pad {
  flex-grow: 1;
  flex-shrink: 1;
}

.inactive {
  filter: opacity(0.35);
}

.action {
  cursor: pointer;
}

.not-editable {
  cursor: not-allowed;
}

.invisible {
  display: none;
}

.statsgrid {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.mainstats {
  display: flex;
  flex-direction: column;
}

div.stat {
  display: flex;
  flex-direction: column;
  width: 2em;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: bold;
  border: 0 none;
}
div.stat + .stat {
  margin-left: 3px;
}
div.stat div, div.stat input {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  text-align: center;
}
div.stat .field-label {
  padding: 5px 0px 5px 0px;
  background-color: black;
}
div.stat .stat-total {
  border-color: black;
  border-style: none solid solid solid;
  border-width: 2px;
  font-size: 13pt;
  font-weight: bold;
}
div.stat .stat-base {
  font-size: 9pt;
  color: whitesmoke;
  background: black;
  border-color: black;
  border-style: none solid none solid;
  border-width: 2px;
}
div.stat .stat-mod {
  font-size: 9pt;
  background: #464646;
  color: whitesmoke;
  padding: 0px 1px 0px 1px;
}
div.stat .stat-temp {
  font-size: 9pt;
  background: #464646;
  color: whitesmoke;
  border-right-style: solid;
  border-right-color: black;
  border-width: 2px;
}

.derivedrow {
  margin-top: -3px;
  margin-bottom: 8px;
  display: flex;
}

div.statderive {
  display: flex;
  align-items: baseline;
  height: 100%;
  flex-grow: 1;
}
div.statderive .label {
  background-color: black;
  color: whitesmoke;
  font-size: small;
  padding: 2px 5px;
}
div.statderive .value {
  font-size: small;
  border-width: 2px 0px 2px 0px;
  border-style: solid;
  border-color: black;
  padding-left: 3px;
  padding-right: 3px;
  width: 3em;
  flex-grow: 2;
}
div.statderive .value.rightborder {
  border-right-width: 2px;
}
div.statderive + .statderive.liftstat {
  padding-right: 5px;
}

.wound-tracker {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
  margin-right: -3px;
}
.wound-tracker .wound-state {
  display: flex;
  flex-grow: 1;
  height: fit-content;
  flex-direction: column;
  margin-right: 3px;
  margin-top: 5px;
  border: solid black;
  border-width: 0px 2px 2px 2px;
}
.wound-tracker .wound-state-label {
  background-color: black;
  color: whitesmoke;
  font-size: smaller;
  font-variant: small-caps;
  padding: 2px;
  padding-left: 2px;
}
.wound-tracker .damageholder {
  display: flex;
  flex-grow: 1;
  height: 0.4em;
}
.wound-tracker .damage {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  position: unset;
  top: unset;
  margin: unset;
  height: 100%;
  width: 1.3em;
  flex-grow: 1;
  border-style: solid;
  border-width: 0px 1px 0px 1px;
  border-color: black;
  transition: background-color 0.25s;
}
.wound-tracker .damage:checked {
  filter: none;
}
.wound-tracker .damage:hover {
  background-color: rgba(178, 34, 34, 0.5);
}
.wound-tracker .damage + .damage {
  border-left-width: 0px;
}
.wound-tracker .damage.leftmost {
  border-left-width: 0px;
}
.wound-tracker .damage.rightmost {
  border-right-width: 0px;
}
.wound-tracker .filled {
  background-color: firebrick;
}
.wound-tracker .unfilled {
  background-color: transparent;
}

.skill-utils {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  margin-bottom: 3px;
  flex-grow: 0;
  display: flex;
}
.skill-utils .skill-search {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  font-weight: bold;
  flex-grow: 1;
  padding-left: 5px;
}
.skill-utils div.search-icon {
  border: 0px;
  border-radius: 0px;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  padding: 2px 5px;
  background-color: black;
  background-image: url(../img/search.png);
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-right: -4px;
  flex-grow: 0;
}
.skill-list + .spacer {
  flex-grow: 1;
}

.skill {
  display: flex;
  flex-grow: 1;
  width: 40%;
  min-width: 185px;
  border-style: solid;
  border-width: 2px;
  margin: 0px 2px 4px 2px;
}
.skill > * {
  padding: 3px;
}
.skill > .field-label {
  padding: 3px;
}
.skill > .skill-value {
  border: 0 none;
  border-radius: 0px;
  padding: unset;
  height: unset;
  min-width: unset;
  -webkit-appearance: unset;
  background-color: unset;
  font: inherit;
  width: 1.5em;
  color: black;
  font-variant: small-caps;
  text-align: center;
}
.skill .icon-holder {
  background-color: black;
  padding: 0px;
  display: contents;
  display: flex;
  align-items: center;
  padding-right: 3px;
}
.skill .icon-holder input[type=checkbox] {
  display: none;
}
.skill .icon-holder label.chip-icon {
  border: 0px;
  border-radius: 0px;
  background-size: contain;
  height: 1.5em;
  width: 1.5em;
  background-image: url(../img/chip.png);
}

.cyberpunk textarea.description {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-style: italic;
  align-self: stretch;
  border: 2px solid black;
  border-radius: 0px;
  min-height: 5em;
}

.item-img {
  max-height: 150px;
  max-width: 20%;
  flex-shrink: 2;
  flex-grow: 0;
  width: 20%;
  margin-left: 4px;
}

/*# sourceMappingURL=cyberpunk.css.map */
