.combat-tab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 
        "rolls rolls"
        "weapons armor";
    column-gap: 10px;
    row-gap: 10px;
    align-items: start;


    .armor-section {
        grid-area: armor;

        .armors-mockup {
            .field label {
                min-width: 3em;
            }
        }
    }

    .combat-rolls {
        grid-area: rolls;
        display: flex;
        flex-flow: column nowrap;

        .field+.field {
            margin-left: 5px;
        }
    }

    .weapons-list {
        grid-area: weapons;
        display: flex;
        flex-flow: column nowrap;

        >.field{
            margin-bottom: 3px;
        }
    }
}

// This can be used elsewhere
.cyberpunk .armor-display {
    max-height: 200px;
    max-width: 25em;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
           ". Head ."
        "lArm Torso rArm"
        "lLeg . rLeg";
    column-gap: 3px;
    row-gap: 3px;
    justify-items: center;

    .armor-segment {
        width:100%; 
        border: $field-border-width solid $text-colour;
        display: grid;
        grid-template-rows: auto auto 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
            "loc"
            "sp"
            "name";

        .segment-sp {
            grid-area: sp;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
            width: 100%;

            background-color: transparent;
            color: $text-colour;
            // ExtraBold here just doesn't work
            font-family: $font-primary;
        }

        .segment-name {
            grid-area: name;
            text-align: center;
            padding: 0px;
        }
        .segment-loc {
            grid-area: loc;
            text-align: center;
            // Avoid scrolling with the small area
            line-height: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}