.inactive {
    filter: opacity(0.45);
}
// This element DOES something when clicked
// Note: There are a few X-roll classes. Roll them into one, add this little thing?
.action {
    cursor: pointer;
    > * {
        cursor: pointer;
    }
}
// For items within action that won't fire
.no-action {
    cursor: default;
}
// Not-editable
.not-editable {
    cursor: not-allowed;
}

.invisible {
    display: none;
}