.inactive {
    filter: opacity(0.35);
}
// This element DOES something when clicked
// Note: There are a few X-roll classes. Roll them into one, add this little thing?
.action {
    cursor: pointer;
}
// Not-editable
.not-editable {
    cursor: not-allowed;
}

.invisible {
    display: none;
}