.cyberpunk textarea.description {
    font-family: $font-primary;
    font-weight: bold;
    font-style: italic;
    align-self: stretch;
    border: 2px solid $text-colour;
    border-radius: 0px;
    min-height: 5em;
}

.item-img {
    max-height: 150px;
    max-width: 20%;
    flex-shrink: 2;
    flex-grow: 0;
    width:20%;
    margin-left: 4px;
}
