// Utilities to reset some kinds of elements to a vanilla foundation of styling to work on

@mixin reset-input {
    border: 0 none;
    border-radius: 0px;
    padding: unset;
    height: unset;
    min-width: unset;
    background-color: unset;
    font: inherit;
}

@mixin reset-radio {
    @include reset-input;
    position: unset;
    top: unset;
    margin: unset;

    &:checked {
        filter: none;
    }
}