.skill-list {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    width: 100%;

    // Compensate for rightmost items having a 3px margin
    margin-right: -4px;
}

// Each individual skill in the list, as a whole.
.skill {
    display: flex;
    flex-grow: 1;
    width: 40%;
    // Lets the skills go to a single column when narrow enough
    min-width: 185px;

    border-style: solid;
    border-width: 2px;

    margin: 0px 2px 4px 2px;

    >* {
        padding: 3px;
    }

    
    >.field-label {
        padding: 3px;
    }
    >.skill-value {
        @include reset-input;

        width: 1.5em;
        color: $text-colour;
        font-variant: small-caps;
        text-align:center;
    }
    .icon-holder { 
        background-color: $text-colour;
        padding: 0px;
        display: contents;
        display: flex;
        align-items: center;
        padding-right: 3px;

        input[type="checkbox"] {
            display: none;
        } 
        label.chip-icon {
            // This just has to be less than the initial height of the bars...
            height:1.5em;
            width: 1.5em;
            border:0px;
            border-radius: 0px;
            background-image: url(../img/chip.png);
            background-size: contain;
        }
    }
    
}