$stats-divider-thickness: 1px;

// The grid that lists player stats
.statsrow {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.statsrow>div.stat {
    display: flex;
    flex-direction: column;
    width: 2em;
    flex-grow: 1;
    flex-shrink: 1;
    font-weight: bold;
    
    border: 0 none;

    +.stat {
        margin-left: 3px;
    }

    div,input {
        @include reset-input;
        text-align: center;
    }
    label {
        padding: 3px 0px 3px 0px;
        text-align: center;
    }
    .stat-total {
        border-color: $text-colour;
        border-style: none solid solid solid;
        border-width: 2px;
        font-size: 13pt;
        font-weight: bold;
    }
    .stat-base {
        font-size: 9pt;
        color: $text-colour-inverted;
        background: $text-colour;
        border-color: $text-colour;
        border-style: none solid none solid;
        border-width: 2px;
    }
    .stat-mod {
        font-size: 9pt;
        background: $inactive-colour;
        color: $text-colour-inverted;
        padding: 0px 1px 0px 1px;
    }
    .stat-temp {
        font-size: 9pt;
        background: $inactive-colour;
        color: $text-colour-inverted;
        // Is on right, so we don't want middle (left) border
        border-right-style: solid;
        border-right-color: $text-colour;
        border-width: 2px;
    }
}

.stats>.derivedrow {
    margin-top: -3px;
    margin-bottom: 8px;
    display: flex;
    font-size: smaller;

    >.field {
        * {
            font-size: small;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        input {
            width: 3em;
            flex-grow: 2;
        }

        &.ma {
            align-self: flex-end;
        }
        // For gap between BT and MA-derived stats
        +.statderive.liftstat {
            margin-right: 3px;
        }
    }
}

div.statderive {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    font-size: smaller;

    >input {
        padding-left: 3px;
        padding-right: 3px;
    }

    // Used in the derived stats row - no right borders means consistent chaining, but the end ones do need to be given a border
    .value.rightborder {
        border-right-width: 2px;
    }
}