// scss for weapon fire dialog (when weapon is clicked in combat tab)
.cyberpunk.weapon-modifiers {
    display: grid;
    grid-template-areas: 
        "range choose-target"
        "player target";
    grid-template-rows: 
        auto 
        1fr;
    grid-template-columns: 1fr 1fr;

    .range-chooser {
        
    }

    .target-mods {
        grid-area: target;
    }

    .player-mods {
        grid-area: player;
    }
}