@use "sass:color";

$damage-colour: firebrick;
$damage-will-unfill-colour: color.change($damage-colour, $alpha: 0.7);
$damage-will-fill-colour: color.change($damage-colour, $alpha: 0.3);

.wound-tracker {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    // Compensate for rightmost items having a 3px margin
    margin-right: -3px;

    .wound-state {
        display: flex;
        flex-grow: 1;
        height:fit-content;
        flex-direction: column;
        margin-right: 3px;
        margin-top: 5px;
        border: solid black;
        border-width: 0px 2px 2px 2px;
    }
    .wound-state-label {
        background-color: $text-colour;
        color: $text-colour-inverted;
        font-size: smaller;
        font-variant: small-caps;
        padding: 2px;
        padding-left: 2px;
    }
    .damageholder {
        display: flex;
        flex-grow: 1;
        height:0.4em;
    }
    .damage {
        @include reset-radio;

        height: 100%;
        width: 1.3em;
        flex-grow: 1;

        border-style: solid;
        border-width: 0px 1px 0px 1px;
        border-color: $text-colour;

        transition: background-color $transition-period;
        &.filled:hover {
            background-color: $damage-will-unfill-colour;
        }
        &.unfilled:hover {
            background-color: $damage-will-fill-colour;
        }
    }
    .damage + .damage { border-left-width: 0px; }
    .damage.leftmost { border-left-width: 0px; }
    .damage.rightmost { border-right-width: 0px; }

    .filled { 
        background-color: $damage-colour;
    }
    .unfilled { 
        background-color: transparent;
    }
}