$damage-colour: firebrick;

.wound-tracker {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;

    .wound-state {
        display: flex;
        flex-direction: column;
        margin-right: 3px;
        margin-top: 5px;
        border: solid black;
        border-width: 0px 2px 2px 2px;
    }
    .wound-state-label {
        background-color: $text-colour;
        color: $text-colour-inverted;
        font-size: smaller;
        font-variant: small-caps;
        padding: 2px;
        padding-left: 2px;
    }
    .damageholder {
        display: flex;
        flex-grow: 1;
        height:0.4em;
    }
    .damage {
        height: 100%;
        width: 1.5em;

        border-style: solid;
        border-width: 0px 1px 0px 1px;
        border-color: $text-colour;
    }
    .damage + .damage { border-left-width: 0px; }
    .damage.leftmost { border-left-width: 0px; }
    .damage.rightmost { border-right-width: 0px; }

    .filled { background-color: $damage-colour; }
    .unfilled { background-color: transparent; }
}