// I'd have loved to give Stone Sans with this, but I don't have the license
// Open Sans ExtraBold seems to do okay though
$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Open Sans ExtraBold", sans-serif;
$text-colour: black;
$text-colour-inverted: whitesmoke;
$inactive-colour: rgb(70, 70, 70);


.cyberpunk section.window-content {
    font-family: $font-primary;
    font-weight: bold;
}

.sheet header.cyberheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > div {
        margin-bottom: 5px;
    }
    
    .topinfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;

        .handle, .role {
            width: 30%;
        }
    }
}

.field {
    display: flex;
    flex-direction: row;
    width:20%;
    align-items: stretch;
    margin-bottom: 5px;

    +.field {
        margin-left: 5px;
    }

    div {
        flex-grow: 0;
        flex-shrink: 5;
    }
    input {
        flex-grow: 3;
        flex-shrink: 1;
    }
}

.cyberpunk .field-value {
    font-family: $font-secondary;
    font-weight: bold;
    height: auto;
    border-style: solid solid solid none;
    padding-left: 5px;
    border-width: 2px;
    border-radius: 0px;
    border-color: $text-colour;
}

div.field-label {
    background-color: $text-colour;
    color: $text-colour-inverted;
    font-weight: bold;
    font-variant: small-caps;

    padding: 5px;
}

.profile-img {
    max-height: 200px;
    max-width: 20%;
    flex-shrink: 2;
    flex-grow: 0;
    width:20%;
    margin-right: 4px;
}

.textfield {
    flex-basis: 2;
}

.sheet-body .tab {
    height: 100%;
}
.editor {
    height: 100%;
}

@import "statsgrid";
@import "woundtracker";