@import "resets";

// I'd have loved to give Stone Sans with this, but I don't have the license
// Open Sans ExtraBold seems to do okay though
$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Open Sans ExtraBold", sans-serif;
$text-colour: black;
$text-colour-inverted: whitesmoke;
$inactive-colour: rgb(70, 70, 70);
// Transition period between colours
$transition-period: 0.25s;

$field-border-width: 2px;

// Make the regular font bold n primary
.cyberpunk section.window-content {
    font-family: $font-primary;
    font-weight: bold;
    overflow-y: scroll;
}

/* Overall sheet structure */
.sheet header.cyberheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // Bad header, stop taking up space the tabs should have.
    flex-grow: 0;

    > div {
        margin-bottom: 5px;
    }
}

.cyberpunk h2 {
    font-family: $font-primary;
    font-variant: small-caps;
    font-weight: bold;
}

.cyberpunk .fieldrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    > * {
        flex-grow: 1;
        margin-right: 5px;
    }
}

.cyberpunk h1.title {
    font-size: 1.75em;
    font-weight: bold;
    font-variant: petite-caps;
    border: solid 0px;
    margin-bottom: 0px;
    padding-right: 5px;
    min-width: 6em;
    flex-grow: 2;
    > input {
        padding-left: 0px;
    }
}

// Idea is have a field wrapping field-label and field-value
.cyberpunk .field {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    border-width: $field-border-width;
    border-style: solid;
    border-color: black;

    // background-color: $text-colour;
}
.cyberpunk .field-label {
    background-color: $text-colour;
    color: $text-colour-inverted;
    font-weight: bold;
    font-variant: small-caps;

    padding: 2px 5px 2px 5px;
    padding-left: calc(5px - #{$field-border-width});
}

.cyberpunk .field-value {
    @include reset-input;
    font-family: $font-secondary;
    font-weight: bold;
    height: auto;
    padding-left: 5px;
    flex-grow: 1;
    flex-shrink: 1;
}
.cyberpunk .field-value-no-reset {
    font-family: $font-secondary;
    font-weight: bold;
    height: auto;
    padding-left: 5px;
    flex-grow: 1;
    flex-shrink: 1;
}

.cyberpunk .numsize {
    width: 2.5em;
    padding: 2px 0px 2px 0px;
    text-align: center;
}
.cyberpunk .smallnumsize {
    width: 1.5em;
    padding: 2px 0px 2px 0px;
    text-align: center;
}
.cyberpunk .textsize {
    width: 6em;
    min-width: 2em;
}
// Overides
// !important cos this is used as an override
.cyberpunk .flexwrap {
    flex-wrap: wrap !important;
}
.cyberpunk .fillwidth {
    width: 100%!important;
}
.cyberpunk .nogrow {
    flex-grow: 0!important;
}

// More specific bits
.profile-img {
    max-height: 170px;
    max-width: 20%;
    flex-shrink: 2;
    // flex-grow: 0;
    width:20%;
    margin-right: 4px;
}

.sheet-body .tab {
    height: 100%;
}
.editor {
    height: 100%;
}

.flex-pad {
    flex-grow: 1;
    flex-shrink: 1;
}

@mixin image-bg {
    border:0px;
    border-radius: 0px;
    background-size: contain;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Compensate for rightmost items having a 3px margin
    margin-right: -4px;
    flex-grow: 0;

    +.spacer {
        flex-grow: 1;
    }
}
.list-item {
    display: flex;
    flex-grow: 1;
    // Lets the skills go to a single column when narrow enough
    width: 40%;
    min-width: 185px;

    border-style: solid;
    border-width: 2px;
    background-color: $text-colour;

    margin: 0px 2px 4px 2px;

    >* {
        padding: 3px;
    }
    >.field-label {
        padding: 3px;
    }

    .item-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 32px;
        width: 32px;
        padding: 0px 3px 0px 0px;
    }
}

// TODO: This may need cleanup; skills are list-items, and rolls in combat-tab are fields, but they use the same thing
.number {
    // Background colour change is so that the editable part can have a transparent background
    background-color: transparent;

    // The rest, however, all background colour
    // Usually this breaks inactive, which uses filter (and therefore washes out the background too), but the inactives in skills are ensconced in chip-toggle; a container whose background won't be affected by child filters
    >* {
        background-color: $text-colour;
    }

    >input.field-value {
        @include reset-input;

        width: 2.5em;
        color: $text-colour;
        font-variant: small-caps;
        text-align:center;
        flex-grow: 0;
    }
}

.list-item:hover .item-image {
    background-image: url("../../../icons/svg/d10-grey.svg") !important;
}

.roll-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 32px;
    width: 32px;
}

@import "interactivityHints";
@import "statsgrid";
@import "woundtracker";
@import "skills";
@import "itemSheets";
@import "gear";
@import "cards";
@import "combat-tab"