@import "resets";

// I'd have loved to give Stone Sans with this, but I don't have the license
// Open Sans ExtraBold seems to do okay though
$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Open Sans ExtraBold", sans-serif;
$text-colour: black;
$text-colour-inverted: whitesmoke;
$inactive-colour: rgb(90, 90, 90);
// Transition period between colours
$transition-period: 0.25s;

$field-border-width: 2px;

// Make the regular font bold n primary
.cyberpunk section.window-content {
    font-family: $font-primary;
    font-weight: bold;
    overflow-y: scroll;

    // Notes editing, we want to at least have a distinction between bold and not
    .editor-content {
        font-weight: normal;
        border: 2px solid $text-colour;
    }
}
.cyberpunk {
    *::-webkit-scrollbar {
        width: 2px;
    }
    *::-webkit-scrollbar-track {
        background-color: $text-colour;
        border-radius: 0px;
    }
    *::-webkit-scrollbar-thumb {
        border-width: 0px;
        background-color: $inactive-colour;
    }
}

/* Overall sheet structure */
.sheet header.cyberheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // Bad header, stop taking up space the tabs should have.
    flex-grow: 0;

    > div {
        margin-bottom: 5px;
    }
}

@mixin image-bg {
    border:0px;
    border-radius: 0px;
    background-size: cover;
}

.cyberpunk h2 {
    font-family: $font-primary;
    font-variant: small-caps;
    font-weight: bold;
}

.cyberpunk .fieldrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    > * {
        flex-grow: 1;
        margin-right: 5px;
    }
}

.cyberpunk h1.title {
    font-size: 1.75em;
    font-weight: bold;
    font-variant: petite-caps;
    border: solid 0px;
    margin-bottom: 0px;
    padding-right: 5px;
    min-width: 6em;
    flex-grow: 2;
    > input {
        @include reset-input;
        color: $text-colour;
        font-family: $font-secondary;
        font-weight: bold;
    }
}
// Overides
// !important cos this is used as an override
.cyberpunk .flexwrap {
    flex-wrap: wrap !important;
}
.cyberpunk .nowrap {
    flex-wrap: nowrap !important;
}
.cyberpunk .fillwidth {
    width: 100%!important;
}
.cyberpunk .nogrow {
    flex-grow: 0!important;
}

// More specific bits
.profile-img {
    max-height: 170px;
    max-width: 20%;
    flex-shrink: 2;
    width:20%;
    margin-right: 4px;
}

.sheet-body .tab {
    height: 100%;
}
.editor {
    height: 100%;
}

.flex-pad {
    flex-grow: 1;
    flex-shrink: 1;
}

.field-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Compensate for rightmost items having a 3px margin
    margin-right: -3px;
    margin-bottom: 10px;
    flex-grow: 0;

    +.spacer {
        flex-grow: 1;
    }

    .field {
        flex-grow: 1;
        // Lets the skills go to a single column when narrow enough
        width: 40%;
        min-width: 185px;
        margin-right: 5px;
        margin-bottom: 3px;
    }

    &.full-item-width .field {
        width: 100%;
    }
}

.roll-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 32px;
    width: 32px;
}

// Only pull this animation when details is open
// Do this to all elements after the *
// Nabbed from https://stackoverflow.com/a/38215801/5708707
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}

@import "_fields";
@import "interactivityHints";
@import "statsrow";
@import "woundtracker";
@import "skills";
@import "itemSheets";
@import "gear";
@import "cards";
@import "combat-tab"