@import "resets";

// I'd have loved to give Stone Sans with this, but I don't have the license
// Open Sans ExtraBold seems to do okay though
$font-primary: "Noto Sans", sans-serif;
$font-secondary: "Open Sans ExtraBold", sans-serif;
$text-colour: black;
$text-colour-inverted: whitesmoke;
$inactive-colour: rgb(70, 70, 70);
// Transition period between colours
$transition-period: 0.25s;

$field-border-width: 2px;

// Make the regular font bold n primary
.cyberpunk section.window-content {
    font-family: $font-primary;
    font-weight: bold;
    overflow-y: scroll;
}

/* Overall sheet structure */
.sheet header.cyberheader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    // Bad header, stop taking up space the tabs should have.
    flex-grow: 0;

    > div {
        margin-bottom: 5px;
    }
}

.cyberpunk h2 {
    font-family: $font-primary;
    font-variant: small-caps;
    font-weight: bold;
}

.cyberpunk .fieldrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;

    > * {
        flex-grow: 1;
        margin-right: 5px;
    }
}

.cyberpunk h1.title {
    font-size: 1.75em;
    font-weight: bold;
    font-variant: petite-caps;
    border: solid 0px;
    margin-bottom: 0px;
    padding-right: 5px;
    min-width: 6em;
    flex-grow: 2;
    > input {
        @include reset-input;
        color: $text-colour;
        font-family: $font-secondary;
        font-weight: bold;
    }
}

// Idea is have a field wrapping field-label and field-value
.cyberpunk .field {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    border-width: $field-border-width;
    border-style: solid;
    border-color: $text-colour;

    >* {
        background-color: $text-colour;
        color: $text-colour-inverted;
        font-weight: bold;
        font-variant: small-caps;
        padding: 2px 0px 2px 0px;
    }
    // I'd have this as an img, but it turns out changing an img tag's source on rollover can't be done in CSS, sooo...
    .field-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        max-width: 32px;
        width: 32px;
        padding: 0px 3px 0px 0px;
    }

    >label {
        color: $text-colour-inverted;
        padding-left: calc(5px - #{$field-border-width});
        padding-right: 5px;
    }
    >input {
        @include reset-input;
        color: $text-colour;
        font-family: $font-secondary;
        padding-left: 5px;
        padding-right: 0px;
        flex-grow: 1;
        flex-shrink: 1;

        &.number {
            width: 2.5em;
            // padding: 2px 0px 2px 0px;
            text-align: center;
        }
        &.smallnumber {
            width: 1.5em;
            // padding: 2px 0px 2px 0px;
            text-align: center;
            padding-left: 0px;
        }
        &.textsize {
            width: 6em;
            min-width: 2em;
        }
    }
    p {
        margin:0px 3px 0px 3px;
    }
}
// Overides
// !important cos this is used as an override
.cyberpunk .flexwrap {
    flex-wrap: wrap !important;
}
.cyberpunk .fillwidth {
    width: 100%!important;
}
.cyberpunk .nogrow {
    flex-grow: 0!important;
}

// More specific bits
.profile-img {
    max-height: 170px;
    max-width: 20%;
    flex-shrink: 2;
    width:20%;
    margin-right: 4px;
}

.sheet-body .tab {
    height: 100%;
}
.editor {
    height: 100%;
}

.flex-pad {
    flex-grow: 1;
    flex-shrink: 1;
}

@mixin image-bg {
    border:0px;
    border-radius: 0px;
    background-size: contain;
}

.field-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    // Compensate for rightmost items having a 3px margin
    margin-right: -3px;
    flex-grow: 0;

    +.spacer {
        flex-grow: 1;
    }

    .field {
        flex-grow: 1;
        // Lets the skills go to a single column when narrow enough
        width: 40%;
        min-width: 185px;
        margin-right: 5px;
        margin-bottom: 3px;
    }
}

.field-image.roll:hover {
    background-image: url("../../../icons/svg/d10-grey.svg") !important;
}

.roll-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 32px;
    width: 32px;
}

@import "interactivityHints";
@import "statsrow";
@import "woundtracker";
@import "skills";
@import "itemSheets";
@import "gear";
@import "cards";
@import "combat-tab"