<div class="field-list">
    {{>(template "fields/number") label="Level" edit="data.level"}}
    {{>(template "fields/number") label="ImprovementPoints" edit="data.ip"}}
    {{>(template "fields/number") label="DifficultyMod" edit="data.diffMod"}}
</div>

<div class="field-list">
    {{>(template "fields/boolean") label="Chipped" edit="data.chipped"}}
    {{>(template "fields/number") label="LevelChipped" edit="data.chipLevel"}}
</div>

<div class="field-list">
    {{>(template "fields/select" label="Stat" edit="data.stat" choices=stats noTranslateOptions=true)}}
    {{>(template "fields/boolean" label="IsRoleSkill" edit="data.isRoleSkill")}}
</div>