<div class="field nogrow">
    <label for="{{path}}" class="field-label">{{cLocal loc}}</label>
    <input class="field-value-no-reset" name="{{path}}" 
        type="checkbox" {{#if (deepLookup . path)}}checked{{/if}}/>
</div>