<div class="field{{#unless noList}} list-item{{/unless}}">
    <label for="{{path}}" class="field-label">{{cLocal loc}}</label>
    <span class="flex-pad"></span>
    <input class="nogrow" name="{{path}}" 
        type="checkbox" {{#if (deepLookup . path)}}checked{{/if}}/>
</div>