<div class="field">
    <label for="{{path}}">{{CPLocal loc}}</label>
    <span class="flex-pad"></span>
    <input class="nogrow" name="{{path}}" 
        type="checkbox" {{#if (deepLookup . path)}}checked{{/if}}/>
</div>