<div class="field nogrow">
    <label for="{{path}}" class="field-label">{{cLocal loc}}</label>
    <input class="field-value numsize" name="{{path}}" 
        type="number" value="{{deepLookup . path}}"/>
</div>