<div class="field number{{#unless noList}} list-item{{/unless}}">
    <label for="{{path}}" class="field-label">{{CPLocal loc}}</label>
    <span class="flex-pad"></span>
    <input class="field-value numsize nogrow nowidth" name="{{path}}" 
        type="number" value="{{deepLookup . path}}"/>
</div>