<div class="field number">
    <label for="{{path}}">{{CPLocal loc}}</label>
    <span class="flex-pad"></span>
    <input class="numsize nogrow nowidth" name="{{path}}" 
        type="number" value="{{deepLookup . path}}"/>
</div>