<div class="field">
    <label for="{{edit}}">{{CPLocal label}}</label>
    <span class="flex-pad"></span>
    <input class="number nogrow nowidth" name="{{edit}}" 
        type="number" value="{{deepLookup . (concat "data." edit)}}"/>
</div>