<div class="field">
    <label for="{{edit}}">{{CPLocal label}}</label>
    <span class="flex-pad"></span>
    <input class="textsize" name="{{edit}}" 
        type="text" value="{{deepLookup . edit}}"/>
</div>