<div class="field">
    <label for="{{path}}" class="field-label">{{cLocal loc}}</label>
    <input class="field-value textsize" name="{{path}}" 
        type="text" value="{{deepLookup . path}}"/>
</div>