{{!-- Dialog content for when a ranged weapon is fired --}}
{{!-- By this point, fire mode and range should be selected, and possibly target --}}
<form class="cyberpunk weapon-modifiers">
    <div class="field-list full-item-width">
        {{>(template "fields/select") label="FireMode" edit="fireMode" choices=choices.fireModes}}
    
        {{!-- Select attack range --}}
        {{>(template "fields/select") label="Range" edit="range" choices=choices.ranges localizeData=locals.ranges}}
    </div>

    {{!-- TODO: Find a way to sort these in different localisations. At the moment, they're sorted in English manually --}}
    {{!-- Modifiers depending on players' actions --}}
    <div class="field-list full-item-width" style="grid-area: player;">
        <div class="field">
            <label for="aimRounds">{{CPLocal "Aiming"}}</label>
            <span class="flex-pad"></span>
            <select name="aimRounds">
                {{#each choices.rounds as |choice|}}
                 <option value="{{choice}}">
                    {{~CPLocalParam "Rounds" (lookup ../locals.rounds choice)}}
                {{/each}}</option>
            </select>
        </div>
        {{>(template "fields/select") label="AimingAt" edit="targetArea" choices=choices.targetArea blankDefault=true}}
        {{>(template "fields/boolean") label="Ambush" edit="ambush"}}
        {{>(template "fields/boolean") label="Blinded" edit="blinded"}}
        {{>(template "fields/boolean") label="DualWield" edit="dualWield"}}
        {{>(template "fields/boolean") label="FastDraw" edit="fastDraw"}}
        {{>(template "fields/boolean") label="Hipfire" edit="hipfire"}}
        {{>(template "fields/boolean") label="Ricochet" edit="ricochet"}}
        {{>(template "fields/boolean") label="Running" edit="running"}}
        {{>(template "fields/boolean") label="TurnFace" edit="turningToFace"}}
    </div>

    {{>(template "fields/number") label="ExtraModifiers" edit="extraMod"}}
    <button type="submit" name="submit" class="fire" value="1" autofocus>{{CPLocal "OK"}}</button>
</form>