{{!-- Dialog content for when a ranged weapon is fired --}}
{{!-- By this point, fire mode and range should be selected, and possibly target --}}
<form class="cyberpunk weapon-modifiers">
    {{#each modifierGroups as |group|}}
        <div class="field-list">
            {{#each group}}
                {{!-- Have to set the context to be values for now cos fields just look things up in their context, and values is where the actual values are --}}
                {{!-- This COULD be neater if we make fields look in a specific place (eg values) --}}
                {{#with ../../defaultValues}}
                    {{>(template ../fieldPath) label=../localKey edit=../dataPath choices=../choices noTranslateChoices=../noTranslateChoices allowBlank=../allowBlank}}
                {{/with}}
            {{/each}}
        </div>
    {{/each}}

    <button type="submit" name="submit" class="fire" value="1" autofocus>{{CPLocal "OK"}}</button>
</form>