{{!-- Skills tab contents --}}

{{!-- Search bar --}}
<div class="flexrow">
    <input class="skillsearch"></input>
    <div class="skillsort"></div>
</div>

{{!-- Actual skills --}}
<div class="skill-list">
    {{#each data.skills as |skill skillName|}}
        <div class="skill">
            <div class="field-label"> {{localize (skillRef skillName)}}</div>
            <div class="flex-pad field-label"></div>
            <div class="icon-holder">
                <label class="chip-icon {{#unless skill.chipped}}inactive{{/unless}}">
                    <input type="checkbox" name="data.skills.{{skillName}}.chipped" {{checked skill.chipped}}/>
                </label>
            </div>
            
            <input class="skill-value" name="data.skills.{{skillName}}.value" value="{{skill.value}}"/>
        </div>
    {{/each}}
</div>