{{!-- Skills tab contents --}}
<div class="skill-top-matter">
    {{!-- Search bar --}}
    <div class="field">
        <div class="field-image search-icon"></div>
        <input class="skill-search" name="system.transient.skillFilter" value="{{system.transient.skillFilter}}"></input>
    </div>

    {{> (template "fields/select") label="SortBy" edit="system.skillsSortedBy" choices=skillsSortChoices extraClasses="skill-sort"}}
</div>

{{!-- Actual skills --}}
<div class="field-list">
    {{#each skillDisplayList as |skill|}}
        {{> (template "actor/parts/skill") skill=skill}}
    {{/each}}
</div>

{{!-- Stops the skills getting real tall when there's only one or two --}}
<div class="spacer"></div>