{{!-- Container for all the stats --}}
<div class="statsgrid">
    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Int'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>
    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Ref'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>
    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Tech'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Cool'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Attr'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Luck'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.MA'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.BT'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>

    <div class="stat">
        <div class="field-label">{{localize 'CYBERPUNK.Emp'}}</div>
        <div class="flexrow">
            <div class="stat-base">4</div>
            <div class="stat-mod">+</div>
            <div class="stat-temp">1</div>
        </div>
        <div class="stat-total">5</div>
    </div>
</div>