<div class="wound-tracker">
    {{!-- 10 wound states - Light, Serious, Critical, Mortal0-6 --}}
    {{#each woundStates}}
    <div class="wound-state">
        <div class="wound-state-label">{{this}}</div>
        <div class="damageholder">
            {{#repeat 4}}
                <div class="damage{{#if (equals i 1)}} leftmost{{/if}}{{#if (equals i 4)}} rightmost{{/if}}{{#if (isWound @key i ../../data.damage)}} filled{{/if}}"></div>
            {{/repeat}}
        </div>
    </div>
    {{/each}}
</div>