<div class="wound-tracker">
    {{log this}}
    {{!-- 10 wound states - Light, Serious, Critical, Mortal0-6 --}}
    {{#each woundStates as |stateName stateNo|}}
    <div class="wound-state">
        <div class="wound-state-label">{{stateName}}</div>
        <div class="damageholder">
            {{!-- damageBoxes gives context. WoundNo is which wound, classes dictate which are filled and which have left/right borders --}}
            {{#damageBoxes stateNo ../data.damage}}
                <input type="radio" name="data.damage" value={{woundNo}} class="{{classes}}" {{#if isChecked}}checked{{/if}}>
            {{/damageBoxes}}
        </div>
    </div>
    {{/each}}
</div>g