<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <!-- <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/> -->
        <div class="field">
            <div class="field-label">{{localize 'CYBERPUNK.ActorName'}}</div>
            <input id="handle" class="field-value" name="name" type="text" value="{{actor.name}}"/>
        </div>
        <div class="field">
            <div class="field-label">{{localize 'CYBERPUNK.Role'}}</div>
            <input class="field-value" name="role" type="text" value="{{data.role.value}}"/>
        </div>
        <div class="field">
            <div class="field-label">{{localize 'CYBERPUNK.Age'}}</div>
            <input id="age" class="field-value" name="age" type="text" value="{{data.age}}"/>
        </div>
        <div class="field">
            <div class="field-label">{{localize 'CYBERPUNK.Points'}}</div>
            <input class="field-value" name="points" type="text" value="{{data.points}}"/>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="info">{{localize 'CYBERPUNK.ActorName'}}</a>
        <a class="item" data-tab="skills">{{localize 'CYBERPUNK.TabSkills'}}</a>
        <a class="item" data-tab="combat">{{localize 'CYBERPUNK.TabCombat'}}</a>
        <a class="item" data-tab="cyberwear">{{localize 'CYBERPUNK.TabCyber'}}</a>
        <a class="item" data-tab="gear">{{localize 'CYBERPUNK.TabGear'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="info">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>

