<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="cyberheader">
        <div class="topinfo">
            <div class="field textfield handle">
                <label for="name" class="field-label">{{localize 'CYBERPUNK.ActorName'}}</label>
                <input type="text" class="field-value" name="name"  value="{{actor.name}}"/>
            </div>
            <div class="field textfield role">
                <label for="data.role.value" class="field-label">{{localize 'CYBERPUNK.Role'}}</label>
                <input class="field-value" name="data.role.value" type="text" value="{{data.role.value}}"/>
            </div>
            <div class="field age">
                <label for="data.age" class="field-label">{{localize 'CYBERPUNK.Age'}}</label>
                <input class="field-value" name="data.age" type="text" value="{{data.age}}" data-dtype="Number"/>
            </div>
            <div class="field">
                <label for="data.points" class="field-label">{{localize 'CYBERPUNK.Points'}}</label>
                <input  type="text" class="field-value" name="data.points" value="{{data.points}}" data-dtype="Number"/>
            </div>
        </div>

        <div class="flexrow">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            <div class="flexcol">
                {{> "systems/cyberpunk2020/templates/actor/parts/statsgrid.html"}}
                {{> "systems/cyberpunk2020/templates/actor/parts/woundtracker.html"}}
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize 'CYBERPUNK.TabSkills'}}</a>
        <a class="item" data-tab="combat">{{localize 'CYBERPUNK.TabCombat'}}</a>
        <a class="item" data-tab="cyberware">{{localize 'CYBERPUNK.TabCyber'}}</a>
        <a class="item" data-tab="gear">{{localize 'CYBERPUNK.TabGear'}}</a>
        <a class="item" data-tab="life">{{localize 'CYBERPUNK.Life'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab skills flexcol" data-group="primary" data-tab="skills">
            {{> "systems/cyberpunk2020/templates/actor/parts/skills.html"}}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab life flexcol" data-group="primary" data-tab="life">
            Let's try this again!
            <div class="biography">
                {{editor content=data.notes target="data.notes" button=true owner=owner editable=editable}}
            </div>
        </div>

        
    </section>
</form>

