{{> (template "actor/parts/armor-display") hitLocations=data.coverage edit=true hitLocsName="coverage"}}
<div class="field-list one-col">
    {{> (template "fields/number") label="Encumbrance" edit="data.encumbrance"}}
</div>