<div class="field-list">
    {{> (template "fields/number") loc="Accuracy" path="data.accuracy"}}
    {{> (template "fields/text") loc="Damage" path="data.damage"}}
    {{> (template "fields/number") loc="Shots" path="data.shots"}}
    {{> (template "fields/boolean") loc="AP" path="data.ap"}}
    {{> (template "fields/number") loc="RoF" path="data.rof"}}
    {{> (template "fields/select") label="Reliability" edit="data.reliability" choices=reliabilities}}
    {{> (template "fields/number") loc="Range" path="data.range"}}
    {{> (template "fields/text") loc="AmmoType" path="data.ammoType"}}

    {{> (template "fields/select") label="WeaponType" edit="data.weaponType" choices=weaponTypes}}
    {{> (template "fields/select") label="AttackType" edit="data.attackType" choices=attackTypes}}
    {{> (template "fields/select") label="Concealability" path="data.concealability" choices=concealabilities}}

    {{> (template "fields/select") label="Availability" edit="data.availability" choices=availabilities}}
</div>