<div class="field-list">
    {{> (template "fields/boolean") label="Equipped" edit="system.equipped"}}
    {{> (template "fields/number") label="Cost" edit="system.cost"}}
    {{> (template "fields/number") label="Weight" edit="system.weight"}}
    {{> (template "fields/string") label="Source" edit="system.source"}}
</div>