<div class="field-list">
    {{> (template "fields/string") label="SurgeryCode" edit="data.surgCode"}}
    {{> (template "fields/number") label="HumanityCostRoll" edit="data.humanityCost"}}
    {{> (template "fields/number") label="HumanityLoss" edit="data.humanityLoss"}}
</div>