<form class="{{cssClass}}" autocomplete="off">
    <header class="flexrow nowrap">
        <div class="flexcol">
            <h1 class="title fillwidth nogrow"><input class="field-value" name="name" type="text" value="{{item.name}}" placeholder={{cLocal 'ItemName'}}/></h1>
            <textarea class="description" name="data.text" placeholder="{{cLocal 'Summary'}}">{{data.text}}</textarea>
        </div>
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="combat">{{cLocal 'TabCombat'}}</a>
        <a class="item" data-tab="details">{{cLocal 'Details'}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{!-- Attributes Tab --}}
        <div class="tab" data-group="primary" data-tab="combat">
            <div class="flexcol">
                <div class="fieldrow flexwrap">
                    {{> (template "fields/number") loc="Accuracy" path="data.accuracy"}}
                    {{> (template "fields/text") loc="Damage" path="data.damage"}}
                    {{> (template "fields/number") loc="Shots" path="data.shots"}}
                    {{> (template "fields/boolean") loc="AP" path="data.ap"}}
                    {{> (template "fields/number") loc="RoF" path="data.rof"}}
                    {{> (template "fields/text") loc="Reliability" path="data.reliability"}}
                    {{> (template "fields/number") loc="Range" path="data.range"}}
                    {{> (template "fields/text") loc="AmmoType" path="data.ammoType"}}

                    {{> (template "fields/text") loc="Type" path="data.type"}}
                    {{> (template "fields/text") loc="Concealability" path="data.concealability"}}
                    {{> (template "fields/text") loc="Availability" path="data.availability"}}
                </div>

                <a class="item-roll"><i>Fire</i></a>
            </div>
        </div>
        
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>
